body[data-theme="1xbet"] {
    .btn  {
        background: #38F;
        box-shadow: 0 10px 30px -10px rgba(51, 136, 255, 0.40);
    }

    .logo--1xbet {
        display: block;
    }
    .logo--melbet {
        display: none;
    }

    .progress-bar {
        background: #38F;
        box-shadow: 0 0 20px 0 #38F;
    }

    .top-block {
        background: url(images/top-bg.webp) top center no-repeat;
        background-size: cover;

        &__title--1xbet {
            display: flex;
        }
        &__title--melbet {
            display: none;
        }

        &__label i {
           background: #00D4FF;
        }

        &__title {
            span {
                color: #38F;
            }
        }

        &__link {
            background: #38F;
            box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
            transition: all .3s ease;

            &:hover {
                background: linear-gradient(135deg, #38F 0%, #00D4FF 100%); 
            }
        }
    }
}